@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: var(--t-50);
    --color-primary-100: var(--t-100);
    --color-primary-200: var(--t-200);
    --color-primary-300: var(--t-300);
    --color-primary-400: var(--t-400);
    --color-primary-500: var(--t-500);
    --color-primary-600: var(--t-600);
    --color-primary-700: var(--t-700);
    --color-primary-800: var(--t-800);
    --color-primary-900: var(--t-900);
    --color-primary-950: var(--t-950);
}

[data-theme="sky"] {
    --t-50: #f3faff;
    --t-100: #e6f4fb;
    --t-200: #cfe8f5;
    --t-300: #a8d8ec;
    --t-400: #7ec6e0;
    --t-500: #5aaed0;
    --t-600: #3f8fb0;
    --t-700: #32708c;
    --t-800: #2a5b72;
    --t-900: #244b5f;
    --t-950: #142f3d;
}

[data-theme="orange"] {
    --t-50: #fff7ed;
    --t-100: #ffedd5;
    --t-200: #fed7aa;
    --t-300: #fdba74;
    --t-400: #fb923c;
    --t-500: #f97316;
    --t-600: #ea580c;
    --t-700: #c2410c;
    --t-800: #9a3412;
    --t-900: #7c2d12;
    --t-950: #431407;
}

[data-theme="emerald"] {
    --t-50: #f0fdf8;
    --t-100: #dcf7ee;
    --t-200: #bcefe0;
    --t-300: #95e3cc;
    --t-400: #6fd5b6;
    --t-500: #4ec29f;
    --t-600: #3aa386;
    --t-700: #2f816b;
    --t-800: #27685a;
    --t-900: #21564c;
    --t-950: #12342e;
}

[data-theme="rose"] {
    --t-50: #fff1f2;
    --t-100: #ffe4e6;
    --t-200: #fecdd3;
    --t-300: #fda4af;
    --t-400: #fb7185;
    --t-500: #f43f5e;
    --t-600: #e11d48;
    --t-700: #be123c;
    --t-800: #9f1239;
    --t-900: #881337;
    --t-950: #4c0519;
}


.dark[data-theme="sky"] {
    --t-50: #142f3d;
    --t-100: #244b5f;
    --t-200: #2a5b72;
    --t-300: #32708c;
    --t-400: #3f8fb0;
    --t-500: #5aaed0;
    --t-600: #7ec6e0;
    --t-700: #a8d8ec;
    --t-800: #cfe8f5;
    --t-900: #e6f4fb;
    --t-950: #f3faff;
}

.dark[data-theme="orange"] {
    --t-50: #431407;
    --t-100: #7c2d12;
    --t-200: #9a3412;
    --t-300: #c2410c;
    --t-400: #ea580c;
    --t-500: #f97316;
    --t-600: #fb923c;
    --t-700: #fdba74;
    --t-800: #fed7aa;
    --t-900: #ffedd5;
    --t-950: #fff7ed;
}

.dark[data-theme="emerald"] {
    --t-50: #12342e;
    --t-100: #21564c;
    --t-200: #27685a;
    --t-300: #2f816b;
    --t-400: #3aa386;
    --t-500: #4ec29f;
    --t-600: #6fd5b6;
    --t-700: #95e3cc;
    --t-800: #bcefe0;
    --t-900: #dcf7ee;
    --t-950: #f0fdf8;
}

.dark[data-theme="rose"] {
    --t-50: #4c0519;
    --t-100: #881337;
    --t-200: #9f1239;
    --t-300: #be123c;
    --t-400: #e11d48;
    --t-500: #f43f5e;
    --t-600: #fb7185;
    --t-700: #fda4af;
    --t-800: #fecdd3;
    --t-900: #ffe4e6;
    --t-950: #fff1f2;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: color-mix(in srgb, var(--t-500) 8%, transparent);
    border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: color-mix(in srgb, var(--t-500) 35%, transparent);
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: color-mix(in srgb, var(--t-500) 55%, transparent);
}

/* برای فایرفاکس */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: color-mix(in srgb, var(--t-500) 35%, transparent) transparent;
}

button{
    cursor: pointer;
}
@font-face {
    font-family: 'Peyda';
    src: url('~/public/fonts/peyda/PeydaWeb-Thin.woff2') format('woff2');
    font-weight: 100;
}

@font-face {
    font-family: 'Peyda';
    src: url('~/public/fonts/peyda/PeydaWeb-ExtraLight.woff2') format('woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Peyda';
    src: url('~/public/fonts/peyda/PeydaWeb-Light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Peyda';
    src: url('~/public/fonts/peyda/PeydaWeb-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Peyda';
    src: url('~/public/fonts/peyda/PeydaWeb-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Peyda';
    src: url('~/public/fonts/peyda/PeydaWeb-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Peyda';
    src: url('~/public/fonts/peyda/PeydaWeb-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Peyda';
    src: url('~/public/fonts/peyda/PeydaWeb-ExtraBold.woff2') format('woff2');
    font-weight: 800;
}

* {
    font-family: 'Peyda', sans-serif !important;
}
